
/*Media Query Mixins*/

@define-mixin atSmall {
  @media screen and (min-width: 500px){
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media screen and (min-width: 800px){
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media screen and (min-width: 1350px){
    @mixin-content;
  }
}

@define-mixin clearfix {
  /*This helps with content overlay*/
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
