.btn {
    cursor: pointer;
    transition: all 300ms ease-in-out;

    i {
      margin-left: 5px;
    }

  &__learn-more {

    position: absolute;
    padding: 10px 15px;
    bottom: 15px;
    right: 15px;
    border-color: $mainGreen;
    color: $mainGreen;
    font-weight: 200;
    font-size: 0.6rem;
    border-radius: 20px;
    border: 1px solid;
    @mixin atMedium {
      padding: 10px 15px;
      font-size: 0.8rem;
    }

    &:hover {
      color: #FFF;
      background-color: $mainGreen;
    }
  }

  &--large-white {
    font-weight: 200;
    padding: 12px 15px;
    font-size: 0.6rem;
    border-radius: 20px;
    border: 1px solid;
  }

  &--white {
    border-color: #FFF;
    color: #FFF;

    &:hover {
      background-color: #FFF;
      color: $mainGreen;
    }
  }

  &--large {
    border-radius: 0;
    width: 100%;
    border: none;
    height: 50px;
    font-size: 1.3rem;
    background-color: $mainBlue;
    color: #FFF;
    cursor: pointer;
    font-weight: 100;

    &:active,
    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $hoverBlue;
    }
  }

  &__signup {

    background-color: #186c9f;
    font-weight: 100;
    padding: 10px 25px !important;

      &:hover {
        background-color: $mainBlue;
        color: #FFF !important;
      }
  }

  &__register {
    background-color: $lightGray;
    font-weight: 100;
    color: #FFF;

    &:first-child {
      padding: 15px 50px;
      float: left;

      @mixin atMedium {
        padding: 20px 136px;
      }
    }
    &:last-child {
      padding: 15px 50px;
      float: right;
      @mixin atMedium {
        padding: 20px 109px;
      }
    }
  }

}
