.btn {
    padding: 10px 15px;
    font-weight: 200;
    font-size: 0.6rem;
    border: 1px solid;
    border-radius: 20px;
    transition: all 300ms ease-in-out;

    i {
      margin-left: 5px;
    }

  &__learn-more {

    position: absolute;
    bottom: 15px;
    right: 15px;
    border-color: $mainGreen;
    color: $mainGreen;
    @mixin atMedium {
      padding: 10px 15px;
      font-size: 0.8rem;
    }

    &:hover {
      color: #FFF;
      background-color: $mainGreen;
    }
  }

  &--large-white {
    @mixin atMedium {
      padding: 12px 15px
    }
  }

  &--white {
    border-color: #FFF;
    color: #FFF;

    &:hover {
      background-color: #FFF;
      color: $mainGreen;
    }
  }

  &--large {
    border-radius: 0;
    width: 100%;
    border: none;
    height: 50px;
    font-size: 1.3rem;
    background-color: $mainBlue;
    color: #FFF;
    cursor: pointer;

    &:active,
    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $hoverBlue;
    }
  }

}
