.page-sections {
  width: 100%;
  @mixin atMedium {
    padding-bottom: 50px;
  }

  &--whitesmoke-bg {
    background-color: #EEEEEE;
  }

  &--background-blue {
    background-color: #66c1e0;
  }

}
