.primary-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  visibility: collapse;
  opacity: 0;
  transition: all 300ms ease-in-out;
  background-color: rgba(0,0,0,0.8);
  @mixin atMedium {
    visibility: visible;
    opacity: 1;
    height: auto;
    background-color: rgba(0,0,0,0.1);
    padding: 20px;
    position: fixed;
  }

  ul {
    width: 100%;
    margin-top: 70px;
    float: left;
    position: relative;
    @mixin atMedium {
      width:auto;
      float: right;
      margin-top: 0;
    }
  }

  li {
    padding: 20px;
    cursor: pointer;
    border-bottom: 0.5px solid rgba(255,255,255,0.1);
    &:hover {
      background-color: rgba($mainGreen, 0.5);
    }

    &:hover a {
      padding-left: 20px;
      opacity: 1;
    }
    @mixin atMedium {
      display: inline;
      margin-right: 20px;
      border-bottom: 0;
      &:hover {
        background-color: transparent;
      }
      &:hover a {
        padding: 20px;
      }
    }
  }

  a{
    color: #FFF;
    opacity: 0.7;
    font-size: 1rem;
    font-weight: 100;
    transition: all 300ms ease-in-out;
    @mixin atMedium {
      padding: 20px;
      font-size: 1.2rem;
      position: relative;
    }
  }
  a:hover,
  a:focus {
    @mixin atMedium {
      background-color: rgba(0,0,0,0.5);
      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        height: 3px;
        width: 100%;
        background-color: $mainGreen;
      }
    }
  }

  &--is-visible {
      visibility: visible;
      opacity: 1;
      transition: all 300ms ease-in-out;
    }
}
