.proj-box {

  position: relative;
  height: 300px;
  background-color: #FFF;
  box-shadow: 0 0 10px #333;
  padding: 10px;
  border-radius: 7px;

  img {
    border-radius: 7px;
    box-shadow: 0 0 20px #000;
    transform: translateY(-15%);
  }

  &__label {
    position: absolute;
    left: 10px;
    top: -25px;
    font-size: .6rem;
    padding: 5px;
    color: #FFF;
    border-radius: 3px;
    background-color: #84c1ff;
  }

  &__content {
    position: relative;
    padding: 0 10px;
  }

  &__title {
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 0;
    color: $darkBlue;
    @mixin atMedium {
      font-size: 1.2rem;
    }
  }

  &__date {
    position: absolute;
    top: -20px;
    right: 10px;
    font-size: 0.7rem;
    font-weight: 200;
    color: $mainGreen;

    @mixin atSmall {
      font-size: 0.8rem;
    }
  }

  &__learn-more {
    margin-left: 10px;
    color: #F6546A;
    font-weight: 200;
    font-size: 0.8rem;
  }
}
