
.row {
  max-width: 100%;
  @mixin atMedium {
    display: flex;
    justify-content: space-around;
  }

  &__medium-4 {
    margin: 80px auto;
    box-sizing: border-box;
    width: 100%;
    @mixin atMedium {
      flex-basis: 28%;
    }
    @mixin atLarge {
      flex-basis: 25%;
    }
  }

  &__medium-3 {
    margin: 20px auto;
    box-sizing: border-box;
    flex-basis: 25%;
  }

  &__medium-6 {
    flex-basis: 100%;
    margin: auto;
    box-sizing: border-box;
    @mixin atMedium {
      flex-basis: 50%;
    }
  }

 &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }

 &--equal-height-at-large {
    @mixin atLarge {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }
}
