
.row {
  max-width: 100%;
  &__medium-3 {
    width: auto;
    @mixin atSmall {
      width: 47%;
      float: left;
    }

    @mixin atMedium {
      width: 30%;
      float: left;
    }

    &--width-at-large {
       @mixin atLarge {
         width: 23%;
         float: left;
       }
    }

    &--proj-margin {
      margin-bottom: 40px;
      @mixin atSmall {
        margin-left: 25px;
        margin-bottom: 50px;
        &:first-child {
          margin-left: 10px;
        }
      }
      @mixin atMedium {
        margin-top: 40px;
        margin-left: 34.5px;
        &:first-child {
          margin-left: 30px;
        }
      }
      @mixin atLarge {
        margin-left: 104px;
        &:first-child {
          margin-left: 104px;
        }
      }
    }

    &--skills-margin {
      margin-bottom: 30px;
      @mixin atSmall {
        margin-left: 15px;
      }
      @mixin atMedium {
        margin-left: 30px;
      }
      @mixin atLarge {
        margin-left: 102px;
      }
    }

    &--footer-margin {
      @mixin atSmall {
        margin-left: 15px;
      }
      @mixin atMedium {
        margin-left: 30px;
      }
      @mixin atLarge {
        margin-left: 40px;
      }
    }
  }

  &__medium-6 {
    width: auto;
    @mixin atMedium {
      width: 47%;
      float: left;
    }

    &--resume-width-at-medium {
      @mixin atMedium {
        width:  60% !important;
      }
    }

    &--width-at-small {
      @mixin atSmall {
        width: 47%;
      }
    }
    &--contact-margin {
      @mixin atMedium {
        margin-top: 50px;
        &:last-of-type {
          margin-left: 40px;
        }
      }
    }
  }
}
