
.site-header {
  position: relative;
  background-image: url("../../assets/images/header-bg-image.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 400px;
  @mixin atMedium {
    height: 650px;
  }
  @mixin atLarge {
    height: 800px;
  }

  &__transparent-background {
    position: relative;
    text-align: center;
    z-index: 10;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);

  }

  &__header-content {
    transform: translateY(50%);
    text-align: center;
    color: #FFF;

    @mixin atMedium {
      transform: translateY(70%);
    }
  }

  &__round-image {
    height: 120px;
    width: 120px;
    z-index: 10;
    overflow: hidden;
    border-radius: 50%;
    border: 7px solid rgba(255,255,255, 0.7);
    /* For Animation */
    opacity: 0;
    transform: translateY(-70%);
    transition: all 1s ease-in-out;

    &--dropdown {
      opacity: 1;
      transform: translateY(0);
    }
    @mixin atMedium {
      height: 200px;
      width: 200px;
    }
  }

  &__title {
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 2rem;
    display: block;
    text-transform: uppercase;
    text-align: center;
    /* For Animate */
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
    &--slide-in {
      transform: translateX(0);
    }
    @mixin atMedium {
      font-size:  3rem;
    }
  }

  &__description {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 100;
    /* For Animate */
    transform: translateX(100%);
    transition: all 1s ease-in-out;
    &--slide-in {
      transform: translateX(0);
    }
    @mixin atMedium {
      font-size: 1.5rem;
    }
  }
}
