.social-media {
  &--round {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $mainBlue;
    padding: 10px;
    display: inline-block;
  }

  &--facebook {
    background-color: #31698A;
  }

  &--google {
    background-color: #ff5353;
  }

  &--twitter {
    background-color: #3399FF;
  }
}
