/*Do not make any change in this file. It is generated automatically.*/


      .icon {
        background-image: url('../../assets/images/sprites/sprite-284eb6ec.svg');
      }

      .no-svg .icon {
        background-image: url('../../assets/images/sprites/sprite-284eb6ec.png');
      }

  .icon--angular {
      width: 52px;
      height: 52px;
      background-position: 0 0;
  }


  .icon--css3 {
      width: 52px;
      height: 52px;
      background-position: 60.46511627906977% 33.333333333333336%;
  }


  .icon--facebook {
      width: 20px;
      height: 20px;
      background-position: 74.50980392156863% 93.61702127659575%;
  }


  .icon--git {
      width: 52px;
      height: 52px;
      background-position: 30.232558139534884% 33.333333333333336%;
  }


  .icon--github {
      width: 52px;
      height: 52px;
      background-position: 60.46511627906977% 0;
  }


  .icon--google {
      width: 20px;
      height: 20px;
      background-position: 74.50980392156863% 82.97872340425532%;
  }


  .icon--gulp {
      width: 52px;
      height: 52px;
      background-position: 0 66.66666666666667%;
  }


  .icon--home {
      width: 16px;
      height: 16px;
      background-position: 100% 0;
  }


  .icon--html5 {
      width: 52px;
      height: 52px;
      background-position: 60.46511627906977% 66.66666666666667%;
  }


  .icon--javascript {
      width: 52px;
      height: 52px;
      background-position: 90.69767441860465% 0;
  }


  .icon--jquery {
      width: 52px;
      height: 52px;
      background-position: 90.69767441860465% 33.333333333333336%;
  }


  .icon--left-arrow {
      width: 50px;
      height: 50px;
      background-position: 29.885057471264368% 98.73417721518987%;
  }


  .icon--mongodb {
      width: 52px;
      height: 52px;
      background-position: 0 100%;
  }


  .icon--nodejs {
      width: 52px;
      height: 52px;
      background-position: 90.69767441860465% 66.66666666666667%;
  }


  .icon--nodemon {
      width: 52px;
      height: 52px;
      background-position: 30.232558139534884% 66.66666666666667%;
  }


  .icon--right-arrow {
      width: 50px;
      height: 50px;
      background-position: 58.62068965517241% 98.73417721518987%;
  }


  .icon--sass {
      width: 52px;
      height: 52px;
      background-position: 0 33.333333333333336%;
  }


  .icon--small--arrow-small {
      width: 9px;
      height: 12px;
      background-position: 96.74418604651163% 65.3061224489796%;
  }


  .icon--small--facebook-small {
      width: 16px;
      height: 16px;
      background-position: 92.3076923076923% 81.25%;
  }


  .icon--small--github-small {
      width: 16px;
      height: 16px;
      background-position: 82.6923076923077% 91.66666666666667%;
  }


  .icon--small--home-small {
      width: 16px;
      height: 16px;
      background-position: 90.38461538461539% 91.66666666666667%;
  }


  .icon--small--instagram-small {
      width: 16px;
      height: 16px;
      background-position: 100% 8.333333333333334%;
  }


  .icon--small--linkedin-small {
      width: 16px;
      height: 16px;
      background-position: 100% 58.333333333333336%;
  }


  .icon--small--phone-small {
      width: 16px;
      height: 16px;
      background-position: 100% 16.666666666666668%;
  }


  .icon--small--square-small {
      width: 16px;
      height: 16px;
      background-position: 100% 25%;
  }


  .icon--small--twitter-small {
      width: 16px;
      height: 16px;
      background-position: 100% 33.333333333333336%;
  }


  .icon--small--web-small {
      width: 16px;
      height: 16px;
      background-position: 100% 41.666666666666664%;
  }


  .icon--square {
      width: 16px;
      height: 16px;
      background-position: 100% 50%;
  }


  .icon--twitter {
      width: 20px;
      height: 20px;
      background-position: 84.31372549019608% 82.97872340425532%;
  }


  .icon--webpack {
      width: 52px;
      height: 52px;
      background-position: 30.232558139534884% 0;
  }
