/*Do not make any change in this file. It is generated automatically.*/


      .icon {
        background-image: url('/assets/images/sprites/sprite-a3c6c61b.svg');
      }

  .icon--angular {
      width: 50px;
      height: 50px;
      background-position: 33.333333333333336% 0;
  }


  .icon--css3 {
      width: 50px;
      height: 50px;
      background-position: 0 66.66666666666667%;
  }


  .icon--git {
      width: 50px;
      height: 50px;
      background-position: 0 33.333333333333336%;
  }


  .icon--github {
      width: 50px;
      height: 50px;
      background-position: 33.333333333333336% 33.333333333333336%;
  }


  .icon--gulp {
      width: 50px;
      height: 50px;
      background-position: 66.66666666666667% 0;
  }


  .icon--html5 {
      width: 50px;
      height: 50px;
      background-position: 66.66666666666667% 33.333333333333336%;
  }


  .icon--javascript {
      width: 50px;
      height: 50px;
      background-position: 0 0;
  }


  .icon--jquery {
      width: 50px;
      height: 50px;
      background-position: 33.333333333333336% 66.66666666666667%;
  }


  .icon--mongodb {
      width: 50px;
      height: 50px;
      background-position: 66.66666666666667% 66.66666666666667%;
  }


  .icon--nodejs {
      width: 50px;
      height: 50px;
      background-position: 100% 0;
  }


  .icon--nodemon {
      width: 50px;
      height: 50px;
      background-position: 100% 33.333333333333336%;
  }


  .icon--sass {
      width: 50px;
      height: 50px;
      background-position: 100% 66.66666666666667%;
  }


  .icon--webpack {
      width: 50px;
      height: 50px;
      background-position: 0 100%;
  }
