.wrapper {
  &--shrink-width {
    margin: auto;
    wdith: 100%;
    @mixin atMedium{
      width: 80%;
    }
    @mixin atLarge {
      width: 70%;
    }
  }

  &--model-padding-at-small {
    padding: 0 30px;
    @mixin atSmall {
      padding: 0;
    }
  }

  &--smaller-padding {
    padding: 0 20px;
    @mixin atMedium {
      padding: 10px 0 10px;
    }
  }
}
